body {
    padding: 0;
    margin: 0;
}

.block-inner {
    padding: 0 16px;
    max-width: 1232px;
    margin: 0 auto;
}

.main-promo {
    padding: 32px 0 8px;
    background: linear-gradient(90deg, rgba(162, 241, 213, 0.30) 0%, rgba(0, 154, 240, 0.30) 100%);
}

.main-promo__text {
    color: #673D3D;
    font-family: Lato;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.3; 
    text-align: center;
    margin-bottom: 32px;
}

.main-promo__slider {
    position: relative;
    padding-top: 66.4%;
    max-width: 710px;
    margin: 0 auto;
}

.main-promo__slider-item {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1.5s
}

.main-promo__slider-item.prev {opacity: 0;}

.main-promo__slider-item.active {
    opacity: 1;
}

.main-promo__slider-item img {
    max-width: 100%;
    height: auto;
}

.main-catalog {
    padding: 32px 0 ;
}

.main-catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 24px;
}

.main-catalog__item-image  {
    font-size: 0px;
    line-height: 0;
}

.main-catalog__item-image img {
    max-width: 100%;
    height: auto;
}

.main-catalog__item-text {
    text-align: center;
    margin-top: 8px;
    color: #424551;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; 
}

.main-advantages {
    padding-bottom: 32px;
}

.main-advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    text-align: center;
}

.main-advantages__item {
    position: relative;
}

.main-advantages__item:nth-child(2n - 1):before {
    position: absolute;
    content: "";
    background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
    top: 0;
    bottom: 0;
    right: -8px;
    width: 1px;
}

.main-advantages__item-ico {
    font-size: 0px;
    line-height: 0;
    margin-bottom: 8px;
}

.main-advantages__item-title {
    color: #1E212C;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
}

.main-advantages__item-subtitle {
    color: #787A80;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

.main-app {
    padding: 32px 0;
    background:#1E212C;
    text-align: center;
}

.main-app__inner {
    position: relative;
}

.main-app__image {
    display: none;
    font-size: 0;
    line-height: 0;
}

.main-app__text img {
    max-width: 100%;
    height: auto;
}

.main-app__title {
    margin: 0 0 24px;
    color: #fff;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.3;
}

.main-blog {
    padding: 32px 0;
}

.main-blog__title {
    color: #1E212C;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 24px;
}

.main-blog__list {
    display: grid;
    grid-row-gap: 24px;
}

.blog-item {
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.blog-item__image {
    font-size: 0;
    line-height: 0;
}

.blog-item__image img {max-width: 100%; height: auto;}

.blog-item__text-wrapper {
    padding: 24px 16px;
}

.blog-item__title {
    color: #1E212C;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 8px;
}

.blog-item__text {
    color: #424551;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.main-blog__vendors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: auto;
    grid-row-gap: 24px;
    margin-top: 32px;
}

.main-blog__vendor {
    text-align: center;
    line-height: 0;
}

.main-blog__vendor img {
    max-width: 100%;
    height: auto;
}

.main-bottom-form {
    background: #F4F5F6;
    padding: 32px 0;
}

.main-bottom-form__right {
    display: none;
}

.main-bottom-form__title {
    color:  #1E212C;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.3; 
    text-align: center;
    margin-bottom: 8px;
}

.main-bottom-form__subtitle {
    color: #787A80;
    font-family: Lato;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}

@media all and (min-width: 640px) {
    .block-inner {
        padding: 0 24px;
    }

    .main-promo {
        padding: 64px 0 8px;
    }
    
    .main-promo__text {
        color: #673D3D;
        font-family: Lato;
        font-size: 48px;
        font-weight: 800;
        line-height: 1.3; 
        text-align: center;
    }

    .main-catalog {
        padding: 48px 0 ;
    }
    
    .main-catalog__list {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 32px;
    }
    
    .main-catalog__item-text {
        font-size: 18px;
        margin-top: 16px;
    }

    .main-advantages {
        padding-bottom: 48px;
    }

    .main-advantages__list {
        grid-column-gap: 24px;
        grid-row-gap: 32px;
    }
    
    .main-advantages__item-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .main-app {
        padding: 48px 0;
    }

    .main-app__title {
        font-size: 28px;
        margin-bottom: 32px;
    }

    .main-blog {
        padding: 64px 0;
    }
    
    .main-blog__title {
        margin-bottom: 32px;
        font-size: 32px;
    }
    
    .main-blog__list {
        grid-column-gap: 24px;
        grid-template-columns: repeat(2, 1fr);

    }
    
    .blog-item__text-wrapper {
        padding: 32px 24px;
    }
    
    .blog-item__title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .main-blog__vendors {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 32px;
        margin-top: 48px;
    }
}

@media all and (min-width: 960px) {
    .block-inner {
        padding: 0 32px;
    }

    .main-promo {
        padding: 96px 0 296px;
        overflow: hidden;
        position: relative;
    }

    .main-promo__slider {
        margin: 0;
        position: absolute;
        right: 32px;
        bottom: 7px;
        padding-top: 0;
        height: 468px;
        width: 100%;
        left: 50%;
    }
    
    .main-promo__text {
        font-size: 64px;
        text-align: left;
        max-width: 770px;
        margin-bottom: 0;
    }

    .main-catalog {
        padding: 80px 0 ;
    }
    
    .main-catalog__list {
        grid-column-gap: 32px;
    }
    
    .main-catalog__item-text {
        font-size: 20px;
    }

    .main-advantages {
        padding-bottom: 80px;
    }

    .main-advantages__list {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 32px;
    }
    
    .main-advantages__item-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .main-advantages__item:not(:last-child):before {
        position: absolute;
        content: "";
        background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
        top: 0;
        bottom: 0;
        right: -8px;
        width: 1px;
    }

    .main-app {
        padding: 60px 0;
    }

    .main-app__text {
        text-align: left;
        padding-left: 430px;
    }

    .main-app__title {
        font-size: 32px;
    }

    .main-app__image {
        display: block;
        position: absolute;
        bottom: -60px;
        max-width: 360px;
    }

    .main-app__image img {
        max-width: 100%;
        height: auto;
    }

    .main-blog {
        padding: 80px 0;
    }
    
    .main-blog__title {
        margin-bottom: 40px;
        font-size: 40px;
    }
    
    .main-blog__list {
        grid-column-gap: 32px;

    }
    
    .blog-item__text-wrapper {
        padding: 32px;
    }

    .main-blog__vendors {
        grid-template-columns: repeat(6, 1fr);
        margin-top: 64px;
    }
}

@media all and (min-width: 1200px) {
    .main-promo__slider {
        margin-left: -100px;
    }

    .main-app__image {
        max-width: 490px;
    }

    .main-app__text {
        padding-left: 660px;
    }
}