.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-window {
  width: 80vw;
  height: 90vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window .product-image {
  width: 46vw;
  display: inline-block;
  margin: auto;
  max-width: 700px;
}

.modal-window .image-change {
  max-width: 700px;
}

.modal-window__close-button {
  background-image: url(../img/close.png);
  background-size: cover;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-window__close-button:hover {
  cursor: pointer;
}
