.products-list {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-list__card {
  min-width: 190px;
  max-width: 230px;
  height: 415px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: 15px;
}

.products-list__card img {
  width: 100%;
  height: 320px;
  flex-shrink: 0;
}

.products-list__card__description,
.products-list__card__price {
  margin: 0 16px;
}

.products-list__card__description {
  font-size: 18px;
  padding: 16px 0 8px 0;
}

.products-list__card__price {
  font-size: 24px;
  font-weight: 700;
}

.products-list__card__price .old {
  display: none;
}

@media (min-width: 950px) {
  .products-list__card {
    min-width: 190px;
    max-width: 230px;
  }
  @media (min-width: 1095px) {
    .products-list__card {
      min-width: 200px;
      max-width: 260px;
    }
    @media (min-width: 1400px) {
      .products-list__card {
        max-width: 300px;
        min-width: 260px;
      }
    }
  }
}
