.profile-page {
  padding: 32px 16px;
  max-width: 1232px;
  margin: 0 auto;
  font-family: Lato;
  box-sizing: content-box;
}

.profile-page__title {
  text-align: center;
  color: #1e212c;
  font-size: 24px;
  font-weight: 900;
  line-height: 130%;
  margin: 0 0 24px;
}

.profile-page__menu {
  display: flex;
  overflow: auto;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.profile-page__menu-item {
  border: 1px solid #17696a;
  margin: 0 4px;
  flex: 1 0 1%;
  min-width: 150px;
}

.profile-page__menu-item:not(.active) {
  background: #fff;
  color: #17696a;
}

.profile-page__box {
  display: none;
}

.profile-page__box.active {
  display: block;
}

.profile-page__info-field {
  margin-bottom: 24px;
}

.profile-page__info-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 4px;
}

.profile-page__info-value {
  font-size: 18px;
}

.profile-page__info-button {
  max-width: 200px;
}

.profile-page__info-form {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.profile-page__info-form-field {
  margin-bottom: 16px;
}

.profile-page__info-form-title,
.profile-page__change-password-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 4px;
}

.profile-page__info-form-field._birthday .profile-page__info-form-label {
  margin-bottom: 16px;
  display: block;
}

.profile-page__info-form-button-cancel {
  background: #cd6666;
}

.profile-page__change-password {
  max-width: 450px;
}

.profile-page__change-password-field {
  margin-bottom: 16px;
}

.profile-page__change-password-input-wrapper {
  position: relative;
}

.profile-page__address {
  border: 2px solid #eee;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.profile-page__address-label {
  margin: -26px -26px 24px;
  text-align: center;
  padding: 8px 16px;
  background: #17696a;
  color: #fff;
  font-size: 14px;
}

.profile-page__address-title {
  font-weight: 700;
  color: #888;
  font-size: 15px;
  margin-bottom: 4px;
}

.profile-page__address-value {
  font-size: 18px;
}

.profile-page__address-row + .profile-page__address-row {
  margin-top: 16px;
}

.profile-page__address-add {
  height: auto;
  padding: 24px;
  border-radius: 8px;
  border: 2px solid #eee;
  background: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.profile-page__address-add:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.profile-page__address-add svg {
  max-width: 64px;
  height: auto;
}

.profile-page__address-add span {
  display: block;
  font-weight: 700;
  color: #4b4b4b;
  margin-top: 16px;
  font-size: 20px;
}

.profile-page__address-add-form-field {
  display: block;
  margin-bottom: 16px;
}

.profile-page__address-add-form-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 4px;
}

.profile-page__address-add-form-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.profile-page__address-add-form-button-cancel {
  background: #cd6666;
}

.profile-page__address-buttons {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}

.profile-page__address-button-default {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0;
  height: auto;
  font-weight: 700;
  color: #17696a;
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.profile-page__address-button-edit,
.profile-page__address-button-delete {
  height: 40px;
  cursor: pointer;
}

.profile-page__address-button-delete {
  background: #cd6666;
}

@media all and (min-width: 640px) {
  .profile-page {
    padding: 64px 24px;
  }

  .profile-page__title {
    margin-bottom: 32px;
    font-size: 32px;
  }

  .profile-page__info-form-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }

  .profile-page__info-form-field._birthday {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-column-gap: 24px;
  }

  .profile-page__addresses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  .profile-page__address {
    margin-bottom: 0;
  }
}

@media all and (min-width: 960px) {
  .profile-page {
    padding: 80px 32px;
  }

  .profile-page__title {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .profile-page__main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 40px;
  }

  .profile-page__menu {
    display: block;
    overflow: visible;
    padding-right: 32px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  .profile-page__menu-item {
    margin: 0 0 16px;
    width: 100%;
  }

  .profile-page__info-form {
    margin-left: 0;
  }
}

@media all and (min-width: 1200px) {
  .profile-page__addresses {
    grid-template-columns: repeat(3, 1fr);
  }
}
