.catalog__topbar__sorting {
  display: flex;
  align-items: center;
}

.catalog__topbar__sorting__description {
  color: #424551;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin: 0 6px;
}

.catalog__topbar__sorting__input {
  margin: 0 6px;
}

.catalog__topbar__sorting__current {
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 12px 16px;
  color: #424551;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  cursor: pointer;
}

.catalog__topbar__sorting__current__image {
  display: flex;
  align-items: center;
}

.catalog__topbar__sorting__current__image svg {
  transition: 300ms;
}

.sorting-image_active {
  transform: rotateZ(180deg);
  transition: 300ms;
}

.sorting-menu {
  display: none;
  position: absolute;
  z-index: 1;

  color: #424551;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  background: #fff;
  margin: 5px;
  padding: 5px;
  box-shadow: rgba(30, 31, 33, 0.12) 0px 5px 25px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
}

.sorting-menu__item {
  cursor: pointer;  
}

.sorting-menu_active {
  display: inline;
}
