.catalog__navigation {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation__homeSVG {
  text-decoration: none;
  display: flex;
  align-items: center;
}
