.catalog__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px 0;
}

.catalog__topbar__filters-toggle {
  border: 1px solid;
  border-radius: 4px;
  height: 52px;
  padding: 0px 15px;
  background-color: #17696a;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
