* {
  box-sizing: border-box;
}

div,
h2,
h6,
p {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

label {
  display: block;
  font-size: 16px;
}

label sup {
  color: #FF4242;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  height: 52px;
  padding: 0px 15px;
  width: 100%;
}

input:focus,
select:focus{
  outline: none;
  border: 1px solid #17696A66;
  box-shadow: 0px 4px 4px -4px #1E212C08;
  box-shadow: 0px 12px 10px -6px #17696A0A;
  box-shadow: 0px 30px 24px -10px #17696A0D;
  box-shadow: 0px 80px 80px -20px #17696A14;
}